<style>

body {background-color: rgb(236,235,234);}

img {border: 2px solid black;}
img {width: 400px;}
img {margin-left: 50px;}

h1 {font-family: "Verdana";}
h1 {margin-left: 50px;}

p {font-family: "Verdana";}
p {font-size: 14px;}

p {
    margin-right: 150px;
    margin-left: 50px;
}

</style>


<h1>Sitemap</h1>



<p><%= link_to('Welcome', '/welcome')%></p>
<p><%= link_to('About Me', '/about')%></p>
<p><%= link_to('Pics', '/about/pics')%></p>