<head>

<style>

body {background-color: rgb(236,235,234);}

img {border: 2px solid black;}
img {width: 300px;}
img {margin-left: 50px}

h1 {font-family: "Verdana"}
h1 {margin-left: 50px}

p {font-family: "Verdana"}
p {font-size: 14px;}

p {
    margin-right: 150px;
    margin-left: 50px;
}

</style>

</head>

<h1><b>Liz Pastor</b></h1>
<p>Welcome to my portfolio.</p>

<p>Lots of cool stuff coming here soon. </p>

<p>Can't wait! </p>

<p>
	<p>
