<head>

<style>

body {background-color: rgb(236,235,234);}

img {border: 2px solid black;}
img {width: 300px;}
img {margin-left: 50px}

h1 {font-family: "Verdana"}
h1 {margin-left: 50px}

p {font-family: "Verdana"}
p {font-size: 14px;}

p {
    margin-right: 150px;
    margin-left: 50px;
}

</style>

</head>

<h1><b>Liz Pastor</b></h1>
<p>Welcome to my portfolio.</p>

<p>Lots of cool stuff coming here soon! </p>



<p> <i>"If you take risks, you may still fail. But if you do not take risks, you will surely fail. The greatest risk of all is to do nothing."</i><p>

	<img src="http://goizueta.emory.edu/aboutgoizueta/images/goizueta022312.jpg"/>

<p class=description>Roberto C. Goizueta (1931-1997)
former CEO, Coca-Cola Co.<p>

<p>
	<p>
