<head>

<style>

img {
	border: 2px solid black;
	
}
p.description {color: red; }
p {font-family: "Verdana"}
h1 {font-family: "Verdana"}
</style>

</head>

<h1><b>Liz Pastor</b></h1>
<p>Hi, I'm Liz.</p>
<p>I'm an Arizona native, who now lives in Atlanta (with an 11 1\2 year stint in Chicago).<p>
<p>When I am not at the office, you can find me cooking up something from my garden, on Buford Highway eating something delicious with my husband, John, or playing at the dog park with my pup, Lucy.<p> 

<p> <i>"If you take risks, you may still fail. But if you do not take risks, you will surely fail. The greatest risk of all is to do nothing."</i><p>

	<img src="http://goizueta.emory.edu/aboutgoizueta/images/goizueta022312.jpg"/>

<p class=description>Roberto C. Goizueta (1931-1997)
former CEO, Coca-Cola Co.<p>

<p>
	<p>
