
<head>
<style>

img {border: 2px solid black;}
img {width: 400px;}
img {margin-left: 50px}

h1 {font-family: "Verdana"}
h1 {margin-left: 50px}

p {font-family: "Verdana"}
p {font-size: 14px;}

p {
    margin-right: 150px;
    margin-left: 50px;
}

</style>

</head>

<h1>About Me</h1>

<p>Hey there.  I’m Liz Pastor and I live in Brookhaven, GA.  This is a place where I keep my portfolio of tech projects.  I am currently enrolled in <a href="http://techtalentsouth.com/index.html" >Tech Talent South’s Part-Time Program</a>. </p> 

<p>I took the class because my day job is in Product Management and I am always telling the developers I work with that <i>someday</i>, I am going to learn to code.  Well, that <i>someday</i> is here. And, I know it will understanding the fundamentals will make me better at my job. </p>

<p>I grew up in Tucson, AZ and then went to Arizona State University in Tempe, AZ.  A year after graduating, I moved to Chicago, IL where I got a job with an amazing company, made some amazing friends, met my husband and got my first job.  I thought I would be in Chicago for a year or and it turned out to be 11 ½ years that really shaped the person I am today.</p>

<p>In October 2013, my husband, dog and I packed up our things and moved to Georgia for my job.  It has been a fun adventure getting to know a new city and the Southern culture.</p> 

<p>I love farmers markets, trying new foods, travel and sunshine.  Ask me about my dog, Lucy, and we might be here awhile. </p>


<p>Thanks for visiting. </p>

<img src= "http://s1.postimg.org/tqruslusu/IMG_3598.jpg"/>